@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans&display=swap);
/*variables*/
/*size*/
/*colors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.tag {
  color: rgba(28, 28, 28, 0.5);
  font-weight: 400;
  display: block;
}

body {
  font-family: "Open Sans";
  font-weight: normal;
}

.data {
  font-family: "Open Sans";
  font-weight: 400;
  color: rgba(28, 28, 28, 0.5);
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 13px;
}

p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-family: "Libre Baskerville";
  font-weight: 700;
  font-size: 33px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #000000;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.header .logo {
  max-width: 192px;
  margin-right: 33px;
}
.header .menu {
  display: flex;
  list-style: none;
}
.header li {
  margin-right: 33px;
}
.header li a {
  font-family: "Libre Baskerville";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
}
.header .header_search {
  margin: 0 47px 0 auto;
}

.articles {
  margin: 0 auto;
}
.articles .article_item {
  max-width: 812px;
  display: flex;
  position: relative;
  margin: 0 auto 50px;
}
.articles .article_item img {
  max-width: 237px;
  max-height: 177px;
}
.articles .article_item .article_desk {
  margin-left: 35px;
  position: relative;
}
.articles .article_item:nth-child(1) {
  max-width: 1000px;
  padding: 29px 33px;
  justify-content: end;
}
.articles .article_item:nth-child(1) img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: inherit;
  max-height: inherit;
  height: 100%;
  width: 100%;
}
.articles .article_item:nth-child(1) .article_desk {
  padding: 44px 32px;
  background: #FFFFFF;
  flex: 0 0 400px;
}

.content_app {
  margin: 0 auto;
  max-width: 1316px;
}

.container_show img {
  max-height: 592px;
  width: 100%;
  margin-bottom: 54px;
}
.container_show h2 {
  font-family: "Libre Baskerville";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}
.container_show .author_data {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_show .author_data p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #1C1C1C80;
}
.container_show .author_data #circle {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  background: #1C1C1C80;
  margin: 0 10px;
}
.container_show .hashtag {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_show .hashtag p {
  color: #1C1C1C80;
  margin: 0 5px;
}
.container_show span {
  max-width: 650px;
  display: block;
  margin: 26px auto 0;
}
