.articles {
    margin: 0 auto;

    .article_item {
        max-width: 812px;
        display: flex;
        position: relative;
        margin: 0 auto 50px;

        img {
            max-width: 237px;
            max-height: 177px;
        }

        .article_desk {
            margin-left: 35px;
            position: relative;
        }

        &:nth-child(1) {
            max-width: 1000px;
            padding: 29px 33px;
            justify-content: end;

            img {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                max-width: inherit;
                max-height: inherit;
                height: 100%;
                width: 100%;
            }

            .article_desk {
                padding: 44px 32px;
                background: $white;
                flex: 0 0 400px;
            }
        }
    }
}
