* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.tag {
    color: $color-tag;
    font-weight: $Regular;
    display: block;
}

body {
    font-family: $font-second;
    font-weight: normal;
}

.data {
    font-family: $font-second;
    font-weight: $Regular;
    color: $color-tag;
    font-size: $fs-p;
    line-height: 1.4;
    margin-bottom: 13px;
}

p {
    font-family: $font-second;
    font-weight: $Regular;
    font-size: $fs-p;
    line-height: 1.5;
}

h2 {
    font-family: $font-main;
    font-weight: $Bold;
    font-size: 33px;
    line-height: 1.2;
    margin-bottom: 8px;
    color: $black;
}

a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
}






