@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans&display=swap');

/*variables*/
$font-main: 'Libre Baskerville';
$font-second: 'Open Sans';
$Regular: 400;
$Bold: 700;

/*size*/
$fs-menu: 20px;
$fs-p: 16px;

/*colors*/
$black: #000000;
$white: #FFFFFF;
$color-tag: rgba(#1C1C1C, .5);


